[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
chardet= "*"
dbt-core = "*"
dbt-bigquery = "==1.6.0"
gcloud = "*"
pyyaml = "*"
argparse = "*"
google-cloud-bigquery = "*"
sqlfluff = "==2.3.0"
shandy-sqlfmt = "*"
sqlfluff-templater-dbt = "*"

[dev-packages]

[requires]
python_version = "3.9"
