[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
chardet= "*"
gcloud = "*"
pyyaml = "*"
argparse = "*"
google-cloud-bigquery = "*"
sqlfluff = "==2.3.0"
sqlfluff-templater-dbt = "*"
pre-commit = "*"
dbt-core = "==1.7.4"
dbt-bigquery = "==1.7.3"

[dev-packages]

[requires]
python_version = "3.9"
