[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
google-cloud-bigquery = "*"
pyyaml = "*"
pandas = "*"
db-dtypes = "*"

[dev-packages]

[requires]
python_version = "3.9"
