[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "*"
dbt-bigquery = "==1.3.0b2"
gcloud = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
