name: Deploy Composer DAGs to Prod environment 

# Run only on pull requests
on:
  push:
    branches:
     - main

jobs:
  build_and_deploy_image:
    uses: ./.github/workflows/build_and_deploy_cta_dbt_image.yaml
    with:
      environment: prod
      tag: latest
    secrets: inherit
  build_and_deploy_edr_image:
    uses: ./.github/workflows/build_and_deploy_cta_edr_image.yaml
    with:
      environment: prod
      tag: latest
    secrets: inherit