name: Deploy Composer DAGs to Dev environment 

# Run only on pull requests
on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]

jobs:
  build_and_deploy_image:
      uses: ./.github/workflows/build_and_deploy_cta_dbt_image.yaml
      if: ${{ contains(github.event.pull_request.labels.*.name,'dev_deploy') }}
      with:
        environment: dev
      secrets: inherit
  build_and_deploy_edr_image:
      uses: ./.github/workflows/build_and_deploy_cta_edr_image.yaml
      if: ${{ contains(github.event.pull_request.labels.*.name,'dev_deploy') }}
      with:
        environment: dev
      secrets: inherit